@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat";
}

/* footer section============== */

/* Top Design Section */
.top-design1 {
   
    height:30px;
    background-color: #92796E; 
    clip-path: polygon(0 0%, 100% 0%, 100% 30%, 0% 100%);
  }
  
  .top-design2 {
    
    height: 20px;
    background-color: #C8B8AD;
    clip-path: polygon(0 0%, 120% 84%, 100% 100%, 0% 100%);
  }
  

  /* toggle button----------- */
  .toggle-button {
    width: 44px;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
 
    transition: background-color 0.3s;
  }
  
  .toggle-circle {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
  }
  
  .toggle-button:hover {
    background-color: #6E4F45; /* Optional: Highlight color on hover */
  }
  
  /* calendar design=============== */

  .react-calendar {
    width: 100% !important;
    border: none !important;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Montserrat", serif !important;

}

.react-calendar__navigation {
  display: flex;
  background: #6E4F45 !important;
  color: #fff;
  height: 44px;
  margin-bottom: 0 !important;
}

.react-calendar__navigation__next-button:hover,
.react-calendar__navigation__next2-button:hover,
.react-calendar__navigation__prev-button:hover,
.react-calendar__navigation__prev2-button:hover,
.react-calendar__navigation__label:hover{
  background: #65493f !important;
}
.react-calendar__navigation__next-button,
.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev-button,
.react-calendar__navigation__prev2-button{
  background: #79574c !important;
}

.react-calendar__navigation button:disabled {
  background-color: #79574c !important;
}
/* .react-calendar__navigation button {
  background: greenyellow;
}  */

.react-calendar__month-view__weekdays{
  background: #6E4F45 !important;
  color: #fff;
}


.react-calendar__tile--now {
  background: #d69c8869 !important;

}

.react-calendar__month-view__days__day--weekend {
  color: black !important;
}
.react-calendar__month-view__days__day--weekend:disabled {
  color: #ababab !important;
}


.react-calendar__tile--active {
  background: #6E4F45 !important;
  color: #fff !important;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0 !important;
  color: #ababab;
}

/* .react-calendar__month-view__days__day--weekend {
  color: #000 !important;
} */