@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat", serif;
}

/* Top Design Section */
.top-design1 {
    position: relative;
    top: 22;
    height:30px;
    background-color: #92796E; /* Cream Background */
    clip-path: polygon(0 0%, 100% 0%, 100% 30%, 0% 100%);
  }
  
  .top-design2 {
    position: relative;
    top: 23;
    height: 20px;
    background-color: #C8B8AD; /* Cream Background */
    clip-path: polygon(0 0%, 120% 84%, 100% 100%, 0% 100%);
  }
  
 
  